        body {
            margin: 0;
        }
        
        .menu {
            width: 100%;
            height: 80px;
            display: flex;
        }
        
        .first {
            height: 633px;
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .firstone {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 500px;
            flex-direction: column;
            margin-left: 170px;
        }
        
        .firstwo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 500px;
        }
        
        .socialmedia {
            width: 90px;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: 200px;
        }
        
        .twowrapper {
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .logowrapper {
            width: 250px;
            height: 80px;
            margin-left: 150px;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        
        ul {
            text-decoration: none;
            margin: 0;
        }
        
        li {
            display: inline-block;
            padding-left: 60px;
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        a {
            text-decoration: none;
            color: black
        }
        
        .menuwrapper {
            width: 45%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .iconwrapper a{
            text-decoration: none;
        }

        .iconwrapper a:hover{
            color: #3e3939;
        }

        .menuwrapper ul li a{
            text-decoration: none;
        }

        .menuwrapper ul li a:hover{
            color: #3e3939;
        }

        .buttonwrapper a{
            text-decoration: none;
        }

        .buttonwrapper a:hover{
            color: #3e3939;
        }

        .rotatedwrapper a{
            text-decoration: none;
        }

        .rotatedwrapper a:hover{
            color: #3e3939;
        }

        .container a{
            text-decoration: none;
        }

        .container a:hover{
            color: #3e3939;
        }

        .pagefivethree a{
            text-decoration: none;
        }

        .pagefivethree a:hover{
            color: #3e3939;
            }
        
        .iconwrapper {
            width: 100px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            margin-right: 40px;
        }
        
        .buttonone {
            width: 120px;
            height: 50px;
            background-color: rgb(255, 255, 255);
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
        }
        
        .buttonwrapper {
            width: 200px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .bigfontwrapper {
            width: 600px;
            height: 200px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 115px;
            z-index: 2;
        }
        
        .bigfont {
            font-size: 77px;
            font-family: Playfair Display;
            z-index: 1;
        }
        
        .onepicture {
            width: "10%";
            height: 550px;
            margin-left: -125px;
            z-index: 0;
        }
        
        .smallfontwrapper {
            width: 60%;
            height: 100px;
            margin-left: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        
        .smallfont {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: #4f4f4f;
        }
        
        .rotated {
            transform: rotate(-90deg);
            font-size: 16px;
            height: 95px;
            margin-left: 36px;
            width: 50;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        .rotatedwrapper {
            width: 100px;
            height: 500px;
            display: grid;
            margin-right: 25px;
            row-gap: 3;
        }
        
        .underpartwrapper {
            width: 100%;
            height: 100px;
            margin-top: -100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .underpart {
            width: 140px;
            height: 70px;
            margin-right: -840px;
            margin-top: -150px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .underpartfont {
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .buttonwratwo {
            width: 50%;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .buttontwo {
            background-color: white;
            width: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
        }
        /*animation button*/
        
        .slogan {
            position: relative;
            display: block;
            overflow: hidden;
            width: 0em;
            height: 1.25em;
            margin: 1em auto;
            font-size: 2em;
            line-height: 1.5em;
            border-right: .10em solid #39F;
            box-sizing: content-box;
            animation-name: blink-start, typing, blink-end;
            animation-duration: 1s, 1s, 1s;
            animation-timing-function: linear, steps(13, end), linear;
            animation-delay: 0s, 1s, 2s;
            animation-iteration-count: 1, 1, infinite;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }
        
        .slogan span {
            display: block;
            width: 8em;
        }
        
        @keyframes typing {
            from {
                width: 0em;
            }
            to {
                width: 5em;
            }
        }
        
        @keyframes blink-start {
            from,
            to {
                border-color: #39F;
            }
            50% {
                border-color: transparent;
            }
        }
        
        @keyframes blink-end {
            from,
            to {
                border-color: #39F;
            }
            50% {
                border-color: transparent;
            }
        }
        
        @keyframes icons {
            0% {
                transform: translateY(3em);
                opacity: 0;
            }
            70% {
                transform: translateY(-.5em);
                opacity: 1;
            }
            100% {
                transform: translateY(0em);
                opacity: 1;
            }
        }
        
        #btnScrollToTop {
            position: fixed;
            right: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #2b2626;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
        }
        
        #btnScrollToTop:active {
            background: black;
        }
        
        .twopage {
            width: 100%;
            height: 1000px;
        }
        
        .menutwo {
            width: 100%;
            height: 80px;
            background-color: white;
            display: flex;
            margin-top: 70px;
        }
        
        .menupicture {
            width: 230px;
            height: 80px;
            margin-left: 100px;
        }
        
        .swiper {
            width: 80%;
            height: 100%;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .swiper {
            margin-left: auto;
            margin-right: auto;
        }
        
        #swiper-one {
            background: url("img/picturefive.jpg");
            background-size: cover;
        }
        
        #swiper-two {
            background: url(img/pexels-photo-1.jpeg);
            background-size: cover;
        }
        
        #swiper-three {
            background: url(img/pexels-photo-2.jpeg);
            background-size: cover;
        }
        
        #swiper-four {
            background: url(img/pexels-photo-3.jpeg);
            background-size: cover;
        }
        
        .sliderwrapper {
            width: 100%;
            height: 300px;
            background-color: white;
            margin-top: 60px;
        }
        
        .baslik {
            width: 100%;
            height: 500px;
            margin-top: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .picturewrapper {
            width: 25%;
            height: 450px;
            margin-right: 50px;
        }
        
        .fontwrapper {
            width: 40%;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .fontwowrapper {
            width: 100%;
            height: 120px;
            margin-bottom: 20px;
        }
        
        .fonthreewrapper {
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
            display: flex;
        }
        
        .fontfourwrapper {
            width: 100%;
            height: 50px;
            display: flex;
        }
        
        .fontfourwrappertwo {
            width: 100%;
            height: 50px;
            display: flex;
        }
        
        .fontwo {
            width: 100%;
            height: 120px;
            font-size: 36px;
            font-family: Playfair Display;
            padding: 0px;
        }
        
        .fonthreeone {
            width: 40%;
            height: 150px;
            font-family: "Nunito", sans-serif;
            font-size: 14px;
            margin-right: 70px;
            padding: 2px;
            color: #828282;
        }
        
        .fonthreetwo {
            width: 40%;
            height: 150px;
            font-family: "Nunito", sans-serif;
            font-size: 14px;
            padding: 2px;
            color: #828282;
        }
        
        .fontfour {
            width: 130px;
            height: 50px;
            margin-right: 86px;
            font-size: 30px;
            font-family: Playfair Display;
            display: flex;
            align-items: center;
        }
        
        .fontfourtwo {
            width: 130px;
            height: 50px;
            margin-right: 86px;
            font-size: 30px;
            font-family: Playfair Display;
            display: flex;
            align-items: center;
        }
        
        .fontfourth {
            width: 130px;
            height: 80px;
            font-size: 30px;
            font-family: Playfair Display;
            display: flex;
            line-height: 50px;
        }
        
        .fontfive {
            width: 130px;
            height: 50px;
            font-size: 30px;
            font-family: Playfair Display;
            display: flex;
            align-items: center;
            margin-right: 85px;
            font-size: 16px;
            font-family: "Nunito", sans-serif;
            color: #828282;
        }
        
        .fontfivetw {
            width: 130px;
            height: 50px;
            font-size: 16px;
            font-family: "Nunito", sans-serif;
            display: flex;
            align-items: center;
            margin-right: 85px;
            color: #828282;
        }
        
        .fontfiveth {
            width: 130px;
            height: 50px;
            font-size: 16px;
            font-family: "Nunito", sans-serif;
            display: flex;
            align-items: center;
            color: #828282;
        }

        .swiper-button-next{
            top: 100%;
}
        
        .swiper-button-next,
        .swiper-rtl {
            color: black;
            margin-top: 100px;
            margin-right: 220px;
            border: 0.1rem solid black;
            width: 60px;
            height: 60px;
        }
        
        .swiper-button-prev,
        .swiper-rtl {
            display: none;
        }
       
        .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
            content: 'next';
            font-size: 30px;
        }
        
        .pagethree {
            width: 100%;
            height: 750px;
            background-color: white;
            font-family: "Nunito", sans-serif;
            display: block;
            align-items: center;
            justify-content: center;
        }
        
        .three-title {
            width: 100%;
            height: 100px;
            background-color: white;
            display: flex;
            padding-top: 50px;
            padding-bottom: 50px;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .dresses {
            position: relative;
            margin: auto;
            width: 80%;
            height: 120px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            border-top: 2px solid black;
            border-bottom: 1px solid black;
        }
        
        .dresses:hover {
            opacity: 1;
            transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
        }
        
        .dresses_image {
            width: 200px;
            height: 200px;
            background: url("img/pexels-photo-10.png.jpeg");
            background-size: cover;
            position: absolute;
            margin-right: 600px;
            transform: rotate(-10deg);
            opacity: 0;
            z-index: 1;
        }

        .dresses:hover .dresses_image {
            transition: .3s;
            opacity: 1;
        }

        .dresses:hover .menu_button{
            transition: .3s;
            opacity: 1;
        }

        .trousers {
            position: relative;
            margin: auto;
            width: 80%;
            height: 120px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        .trousers:hover {
            opacity: 1;
            transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
            border-top: 1px solid black;
        }

        .trousers_image {
            width: 200px;
            height: 200px;
            background: url("img/pexels-photo-6.jpeg");
            background-size: cover;
            position: absolute;
            margin-right: 600px;
            transform: rotate(-10deg);
            opacity: 0;
            z-index: 1;
        }

        .trousers:hover .trousers_image {
            transition: .3s;
            opacity: 1;
        }

        .trousers:hover .menu_button{
            transition: .3s;
            opacity: 1;
        }
        
        .pants {
            position: relative;
            margin: auto;
            width: 80%;
            height: 120px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        
        .pants:hover {
            opacity: 1;
            transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
        }
        
        .pants_image {
            width: 200px;
            height: 200px;
            background: url("img/pexels-photo-11.jpeg");
            background-size: cover;
            position: absolute;
            margin-right: 600px;
            transform: rotate(-10deg);
            opacity: 0;
            z-index: 1;
        }

        .pants:hover .pants_image{
            transition: .3s;
            opacity: 1;
        }

        .pants:hover .menu_button{
            transition: .3s;
            opacity: 1;
        }

        
        .shirts {
            position: relative;
            margin: auto;
            width: 80%;
            height: 120px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            border-top: 1px solid black;
            border-bottom: 2px solid black;
        }
        
        .shirts:hover {
            opacity: 1;
            transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
        }
        
        .shirts_image {
            width: 200px;
            height: 200px;
            background: url("img/pexels-photo-12.jpeg");
            background-size: cover;
            position: absolute;
            margin-right: 600px;
            transform: rotate(-10deg);
            opacity: 0;
        }

        .shirts:hover .shirts_image{
            transition: .3s;
            opacity: 1;
        }

        .shirts:hover .menu_button{
            transition: .3s;
            opacity: 1;
        }

        
        .menu_button {
            width: 60px;
            height: 60px;
            background: white;
            border: 2px solid black;
            position: absolute;
            margin-left: 800px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
            opacity: 0;
        }
        /* page 4 */
        
        .pagefour {
            width: 100%;
            height: 750px;
            background-color: white;
            font-family: "Nunito", sans-serif;
            display: block;
            align-items: center;
            justify-content: center;
        }
        
        .pic-img {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        
        .pic-img__one {
            width: 300px;
            height: 400px;
            background: url("img/pexels-photo-4.jpeg");
            background-size: cover;
            margin: 10px;
        }
        
        .pic-img__two {
            width: 300px;
            height: 300px;
            background: url("img/pexels-photo-5.jpeg");
            background-size: cover;
            margin: 10px;
        }
        
        .pic-img_three {
            width: 300px;
            height: 400px;
            background: url("img/pexels-photo-7.jpeg");
            background-size: cover;
            margin: 10px;
        }
        
        .img_text__one {
            width: 330px;
            height: 400px;
            margin-left: 220px;
        }
        
        .img_text__two {
            width: 300px;
            height: 300px;
            margin-left: 520px;
            margin-bottom: 500px;
        }
        
        .img_text__three {
            width: 300px;
            height: 400px;
        }
        
        .fontsevenwra {
            width: 300px;
            height: 50px;
            margin-top: 400px;
            display: flex;
            align-items: center;
        }

        .fonttew{
            width: 300px;
            height: 50px;
            margin-top: -60px;
            display: flex;
            align-items: self-end;
            font-size: 16px;
        }

        .fontew{
            width: 300px;
            height: 50px;
            margin-top: -60px;
            display: flex;
            align-items: self-end;
            font-size: 16px;
        }

        .fonteww{
            width: 300px;
            height: 50px;
            margin-top: -60px;
            display: flex;
            align-items: self-end;
            font-size: 16px;
        }

        .fonteightwra {
            width: 300px;
            height: 50px;
            margin-top: 300px;
            display: flex;
            align-items: center;
        }
        
        .fontninewra {
            width: 300px;
            height: 50px;
            margin-top: 400px;
            display: flex;
            align-items: center;
        }
        
        .fontseven {
            padding-top: 30px;
            font: 13px;
        }
        
        .fonttenwra {
            background-color: aquamarine;
            width: 300px;
            height: 50px;
            margin-top: 100px;
            display: flex;
            align-items: center;
        }
        
        .fontninewrap {
            background-color: rgb(121, 168, 58);
            width: 300px;
            height: 50px;
            margin-top: 390px;
            display: flex;
            align-items: center;
        }
        
        .fonttennwra {
            background-color: white;
            width: 300px;
            height: 50px;
            margin-top: 100px;
            display: flex;
            align-items: center;
        }
        
        .pagefive {
            width: 100%;
            height: 753px;
            background-color: white;
            margin-top: 150px;
        }
        
        .pagefiveone {
            background-color: white;
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-items: center;
            margin-top: 100px;
        }
        
        .pagefivetwo {
            width: 20%;
            height: 400px;
            height: 500px;
            background-color: #39F;
        }
        
        .pagefivethree {
            width: 30%;

            height: 140px;
            font-size: 40px;
            font-family: tahoma;
            padding-top: 150px;
            padding-right: 50px;
            background-color: white;
            height: 500px;
        }
        
        .pagefivetwo {
            width: 40%;
            height: 500px;
            background-color: white;
        }

        .page-img-one{
            width: 300px;
            height: 380px;
            background: url(img/pexels-photo-one.jpeg);
            background-size: cover;
            margin-top: 50px;
            margin-left: 180px;
        }

        .page-img-two{
            width: 200px;
            height: 280px;
            background: url(img/pexels-photo-three.jpeg);
            background-size: cover;
            margin-top: -100px;
            margin-left: 20px;
        }

        .email{
            padding-top: 40px;
            margin-left: 45px;
            font-size: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid black;
        }

        .feedback-input{
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            opacity: 30;
            outline: 0;
            border: 0;
        }


        .page-five__button{
            height: 40px;
            width: 150px;
            font-size: 18px;
            font-family: arial, sans-serif;
            background: white;
            border: 1px solid black;
            position: absolute;
            margin-left: 45px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* footer */
        .site-footer {
            background-color:#26272b;
            padding:45px 0 20px;
            font-size:15px;
            line-height:24px;
            color:#737373;
        }
        .site-footer hr {
            border-top-color:#bbb;
            opacity:0.5;
        }
        .site-footer hr.small {
            margin:20px 0;
        }

        .site-footer h6 {
            color:#fff;
            font-size:16px;
            text-transform:uppercase;
            margin-top:5px;
            margin-right: 50px;
            letter-spacing:2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .site-footer a {
            color:#737373;
        }

        .site-footer a:hover {
            color: #121213;
            text-decoration:none;
        }

        .footer-links {
            padding-left:0;
            list-style:none;
        }

        .footer-links li {
            display: block;
        }

        .footer-links a {
            color:#737373;
        }

        .innersoul{
            margin-left: 205px;
            font-size:44px;
            display: block;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .categories{
            width: 1100px;
            height: 100px;
            margin-bottom: 100px;
            margin-top: 50px;
            margin-left: 135px;
        }

        .four-img{
            margin-top: 80px;
            margin-left: 135px;
        }
