body{
    margin: 0;
    background: #3a1952; no-repeat center;
    background-size: cover;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid .navbar{
    width: 100vw;
    height: 90px;
    background: rgb(4, 25, 49);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .logo{
    position: fixed;
    top: 53px;
    left: 15px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

#anasayfa{
    background: #ff2600;
    border-radius: 10px;
    line-height: 35px;
    transition: .0s;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 20px;
    font-family: sans-serif;
    transition: .5s;
}
.navbar ul li a.active{
    background: #ff2600;
    border-radius: 10px;
}

.navbar ul li a:hover{
    background: #ff2600;
    border-radius: 10px;
}

.menu-bar .fa-solid{
    margin-right: 10px;
}

.menu-1{
    display: none;
}

.menu-2{
    display: none;
}

.menu-3{
    display: none;
}

.navbar ul li:hover .menu-1{
    display: block;
    position: absolute;
    background: rgb(4, 25, 49);
    margin-top: 1px;
    margin-left: -10px;
    font-size: 10px;
}

.navbar ul li:hover .menu-2{
    display: block;
    position: absolute;
    background: rgb(4, 25, 49);
    margin-top: 1px;
    margin-left: -10px;
    font-size: 10px;
}

.navbar ul li:hover .menu-3{
    display: block;
    position: absolute;
    background: rgb(4, 25, 49);
    margin-top: 1px;
    margin-left: -10px;
    font-size: 10px;
}

.navbar ul li:hover .menu-1 ul{
    display: block;
}

.navbar ul li:hover .menu-2 ul{
    display: block;
}

.navbar ul li:hover .menu-3 ul{
    display: block;
}

.navbar ul li:hover .menu-1 ul li{
    width: 130px;
    display: block;
    padding: 0;
    background: transparent;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
}

.navbar ul li:hover .menu-2 ul li{
    width: 130px;
    display: block;
    padding: 0;
    background: transparent;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
}

.navbar ul li:hover .menu-3 ul li{
    width: 130px;
    display: block;
    padding: 0;
    background: transparent;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
}

.navbar ul li:hover .menu-1 ul li a:hover{
    color: white;
}

.navbar ul li:hover .menu-2 ul li a:hover{
    color: white;
}

.navbar ul li:hover .menu-3 ul li a:hover{
    color: white;
}

.container-fluid .center{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: -6px 0px;
}

.center h2{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.center .buttons{
    margin: 20px 0px;
}

.buttons .button{
    height: 20px;
    width: 50px;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    background: #ff2600;
    border: solid 1px #b74f02;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition: .5s;
    text-decoration: none;
    padding: 0.5rem 1.8rem;
}

.buttons .button:hover{
    background: #ff2600;
}


@media all and (max-width: 1920px) {

    body {
        margin: 0;
        background: url("background.jpg");
        height: 100vh;
        background-size: 100% 100%;
        }

    .navbar .logo{
        display: inline-block;
        margin-left: 50px;
        margin-top: -30px;
    }
}

@media all and (max-width: 1440px) {


    .navbar .logo{
        display: inline-block;
        margin-left: 50px;
        margin-top: -30px;
    }
}

@media all and (max-width: 1366px) {
    body{
        margin: 0;
        background: #3a1952; no-repeat center;
        background-size: cover;
    }
}

@media all and (min-width: 1200px) {
    body{
        margin: 0;
        background: #3a1952; no-repeat center;
        background-size: cover;
    }
}

@media all and (max-width: 1024px) {
    body{
        margin: 0;
        background: #3a1952; no-repeat center;
        background-size: cover;
    }

    .navbar .logo a{
        text-decoration: none;
        font-size: 35px;
        font-family: sans-serif;
        color: white;
}

    .navbar ul li a{
        color: white;
        text-decoration: none;
        font-size: 13px;
        padding: 6px 8px;
        font-family: sans-serif;
        transition: .5s;
    }

    .navbar ul li:hover .menu-1 ul li{
        width: 60px;
        display: block;
        padding: 0;
        background: transparent;
        text-align: center;
        border-radius: 0;
        cursor: pointer;
    }

    .navbar ul li:hover .menu-2 ul li{
        width: 60px;
        display: block;
        padding: 0;
        background: transparent;
        text-align: center;
        border-radius: 0;
        cursor: pointer;
    }

    .navbar ul li:hover .menu-3 ul li{
        width: 60px;
        display: block;
        padding: 0;
        background: transparent;
        text-align: center;
        border-radius: 0;
        cursor: pointer;
    }

    .center h1{
        color: white;
        font-size: 25spx;
        font-weight: bold;
        text-align: center;
        margin: -6px 0px;
    }

    .center h2{
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }

    .center .buttons{
        margin: 10px 0px;
    }
}

@media all and (max-width: 768px) {
    body{
        margin: 0;
        background: #3a1952; no-repeat center;
        background-size: cover;
    }
}

@media all and (max-width:480px) {
    body{
        margin: 0;
        background: #3a1952; no-repeat center;
        background-size: cover;
    }

    .navbar .logo a{
        text-decoration: none;
        font-size: 25px;
        font-family: sans-serif;
        color: white;
        margin-left: 90px;
    }

    .menu-bar{
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 6rem;
        margin-left: 30px;
    }
}
}